[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pytest = "*"
python-dotenv = "*"
flask-httpauth = "*"
pyjwt = "*"
flask-login = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
